.app-container {
    display: grid;
  }
  
  .sidebar {
    width: 200px;
    background-color: #343a40;
    color: white;
    padding: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .sidebar ul li a:hover {
    text-decoration: underline;
    color: #ff9800;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }
  